*{
    box-sizing: border-box;
}

:root{
    --color1: #D89584;
    --color2: #F4F4F4;
}

body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}

iframe{
    width: 100%;
    border: none;
    height: 350px;
}

div.cover{
    background: url(cover_overlay.png) no-repeat center/100% 100% , url(cover.jpg) no-repeat center/cover;
    height: 360px;
    position: relative;
}

img.cover-profile{
    height: 100px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 50px;
    border-radius: 20%;
}

h1{
    color: white; 
    text-align: center;
    font-size: 42px; 
    margin-top: 14px;
    margin-bottom: 0;
}

div.cover p{
    color: lightgray;
    text-align: center;
    font-size: 14px;
    margin-top: 8px;
}

div.cover-contact{
    position: absolute;
    top: 20px;
    left: 10px;
    border-left: 4px solid var(--color1);
    padding-left: 8px;
}

div.cover-contact a{
    display: block;
    margin-top: 0px;
    color: white;
    font-size: 14px;
}

div.cover-contact a:first-child{
    margin-bottom: 15px;
}

a.contact-button{
    color:var(--color1);
    border: 3px solid var(--color1);
    padding: 8px 20px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    background-color: #00000040;
    font-size: 14px;
}

a.contact-button-portfolio{
    position: absolute; 
    right: 20px; 
    top: 4px;
}

a.contact-button:hover {
    color: white;
    border: 3px solid white;
}

div.section{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

div.gray-section-1{
    background: url(triangle2white.svg) no-repeat center bottom -1px/100%;
    background-color: var(--color2);
    padding-bottom: 70px; 
}

div.gray-section-2{
    background: url(triangle1white.svg) no-repeat center top/100%;
    background-color: var(--color2);
    padding-top: 100px; 
}

h2{
    text-align: center;
    font-size: 34px;
    margin-top: 0;
}

div.separator{
    height: 1px;
    width: 150px;
    background-color: #979797;
    position: relative;
    left: 50%;
    margin-left: -75px;
}

div.gray-section-1 p{
    font-size: 22px;
    color: #656565;
    text-align: center;
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
}
img.col-content{
    width: 40%;
}
div.col-content{
    width: 60%;
    padding: 15px;
}
.float-right{
    float: right;
}
div.text-with-vertical-line{
    border-left: 4px solid var(--color1);
    padding: 8px;
    height: 50px;
    display: inline-block;
}
div.text-with-vertical-line p{
    margin-top: 0;
}
div.vertical-bar{
    height: 50px;
    width: 4px;
    background-color: var(--color1);
    margin-right: 8px;
}
.col-portfolio{
    width: 47%;
}
div.frame{
    margin: 30px 50px;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
}
p.frame-title{
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 10;
    text-align: center;
}
div.frame img{
    width: 100px;
}
.disply-mobile{
    display: none;
}
/* PORTFOLIO */
.portfolio-header{
    height: 90px;
    background:url(header.jpg) no-repeat center/cover;
    position: relative;
}
.portfolio-header-title{
   font-size: 26px;
   font-weight: bold;
   color: white;
   padding-top: 2px; 
   padding-left: 8px;
}
h1.portfolio{
    font-size: 46px;
    color: black;
    line-height: 1;
    padding-top: 12px;
}
h2.portfolio{
    font-size: 26px;
    color: black;
    font-weight: normal;
    margin-bottom: 0;
}
a.portfolio-back{
    color: var(--color1);
    margin-left: -10px;
}
img.portfolio{
    width: 70%;
    max-width: 550px;
}
/* RESPONSIVE DESIGN : MOBILE */
@media only screen and (max-width: 767px) {
    img.cover-profile{
        height: 90px;
        margin-top: 75px;
    } 
    h1{
        font-size: 38px; 
        margin-top: 6px;
    }
    
    div.cover p{
        font-size: 13px;
        margin-top: 2px;
    } 
    div.section{
        padding-left: 20px;
        padding-right: 20px;
    } 
    div.gray-section-1{
        padding-bottom: 40px; 
    }
    h2{
        font-size: 30px;
    }
    img.col-content{
        width: 100%;
    }
    div.col-content{
        width: 100%;
        padding: 0;
        margin-top: 18px;
    }
    .col-portfolio{
        width: 100%;
        margin-bottom: 20px;
    }
    .float-right{
        float: none;
    }
    div.frame{
        margin: 0px 0px;
        padding: 0px 0px;
        box-shadow: none;
    }
    div.frame img{
        width: 70px;
    }
    /* PORTFOLIO - MOBILE*/
    .portfolio-header-title{
        font-size: 20px;
        padding-top: 8px; 
        padding-left: 6px;
     } 
     a.contact-button{
        padding: 7px 15px;
        font-size: 12px;
    }
    
    a.contact-button-portfolio{
        position: absolute; 
        right: 12px; 
        top: 7px;
    }
    h1.portfolio{
        font-size: 40px;
    }
    h2.portfolio{
        font-size: 22px;
    }
    img.portfolio{
        width: 100%;
        max-width: 475px;
    }
    .disply-mobile{
        display: block;
    }
}